
.video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

#nav {
    padding: 20px;
    min-width: 2000px;
    background-color: rgb(235, 236, 240);
    background-size: cover;
    font-family: "Caveat", cursive;
    font-size: 30px;
    display: flex;
    color: rgb(165, 118, 218);
}

#nav #a1 {
    color: rgb(28, 204, 80);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-width: 2px;
    border-color: aliceblue;
}

#nav #a2 {
    color: rgb(216, 22, 151);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#nav #a3 {
    color: rgb(209, 182, 27);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.caveat-heading {
    border-radius: 2px;
    color: rgb(245, 244, 242);
    font-family: "Caveat", cursive;
    font-weight: 200;
}

#intro {
    padding: 20px;
    font-size: 50px;
    text-align: start;
    min-width: 1000px;
}

#aboutMe {
   
    color: rgb(252, 252, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 400;
    
    background-color: rgba(196, 75, 169, 0.3);
    justify-content: space-between;
    min-width: 2000px;
    img{
        display: inline-flexbox;
        margin-right: 100px;
        display: inline-flexbox
    }
}

#aboutMe img {

    max-width: 600px;
    max-height: 700px;
}

#skills {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    justify-content: space-between;
    min-width:2000px ;
    li{
        display: inline;
        padding: 0;
        margin-right: 50px;
    img{
        max-width: 400px;
        max-height: 200px
    }
}
}

#certifications {
    padding: 30px;
    min-width: 1388px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content:space-between;
}

#certifications img {
    
    max-height: 500px;
    border-radius: 10px;
    transition: transform 0.3s;
    display: inline-flexbox;

}

#projects {
    padding: 30PX;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    min-width: 1500px;
}

#projects img {
    display: inline-flexbox;
    max-width: 700px;
    max-height: 500px;
    border-radius: 10px;
}

@media (max-width: 2000px) {
    #aboutMe {
        font-size: 40px;
        display: flex;
    }

}
#connect{
 
   
        img{
        max-width: 20px;
        max-height: 20px;
    }
}
